
@import "../../../scss/common.scss";

.user_header {
  float: left;
  width: 100%;
  position: inherit;
  background-color: transparent;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  left: 0;
  top: 0;
  z-index: 999;
  a {
    color: $app-header-text-color;
  }
}

.action_items {
  display: flex;
}
