@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "slider.scss";
.slider-container {
    margin: 0 auto;
    padding: 40px;
    width: 50%;
    color: #ffffff;
    background: #ffffff;
    border: solid 1px #000000;
}
