$primaryColor: #F89521;
/*Usage progress colors*/
$high-progress-color:green;
$medium-progress-color: yellow;
$low-progress-color: #D53453;

$app-background-image: url("/images/landing_page.jpg");

// Header configuration
$app-header-text-color: white;
$app-header-background-color: black;

